# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/
.tox/
.venv/
.pip_deps/

# testing
.cache/
.pytest_cache/

# linting
.ruff_cache/
