# Runtime requirements
--requirement requirements.txt

# Testing
pytest==3.0.3
py==1.4.31
mock==2.0.0

# Linting
flake8==3.0.4
#flake8==3.2.1
mccabe==0.5.2
pycodestyle==2.1.0
pyflakes==1.2.3

# for flake8
enum34; python_version<"3.4"
configparser; python_version<"3.2" 

# Pypi publishing
pypandoc

# Miscellaneous
Paver==1.2.4
colorama==0.3.7
